{
    auto_https off
}

:8081 {
    @publicTokenConfigured expression `{env.CLASS_SHARED_TOKEN} != ""`
    @missingOrInvalidToken expression `{env.CLASS_SHARED_TOKEN} != "" && {http.request.header.X-Class-Token} != {env.CLASS_SHARED_TOKEN}`

    respond @missingOrInvalidToken "Unauthorized" 401
    reverse_proxy {env.PROXY_UPSTREAM}
}
